**/__pycache__/
.vscode/
data/*
process
process_gcc
process_intel
result/
matlab
matlab/
/matlab/
result_/
__pycache__/
old/
._*
result
matlab/
matlab/*
/matlab/*
outer
*.asv
movie
.ipynb_checkpoints/